<%= form_for(@photo) do |f| %>
  <%= f.hidden_field :img_path, id: "img-path-field" %>
  <%= f.hidden_field :thumbnail_path, id: "thumbnail-path-field" %>
  <span class="form-label">Caption:</span>
  <%= f.text_field :caption, class: "form-field", placeholder: "caption..." %>
  <br><br>
  <span class="form-label">Tags:</span>
  <%= f.text_field :tag_slugs, class: "form-field", placeholder: "use semicolon to separate" %>
  <br><br>
  <span class="form-label">Preview:</span>
  <img id="img-preview" src="<%= @photo.thumbnail_path %>" />
  <br><br>
  <%= f.submit %>
<% end %>
