<%= link_to root_path, class: "nav-link-item" do %>
  <div>
    <span>Map</span>
    <%= image_tag("icons/map") %></div>
<% end %>
<%= link_to photos_by_tag_path(:van), class: "nav-link-item" do %>
  <div>
    <span>Van</span>
    <%= image_tag("icons/van") %></div>
<% end %>
<%= link_to photos_by_tag_path(:climbing), class: "nav-link-item" do %>
  <div>
    <span>Climbing</span>
    <%= image_tag("icons/climbing") %></div>
<% end %>
