<!DOCTYPE html>
<html>
<head>
  <title>HelgaTheVan</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa1W84G2J5rxNLYKJqnYqOZjCE1zUdvmM"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Indie+Flower" rel="stylesheet">
  <%= include_gon(namespace: :helga, init: true) %>
</head>
<body class="container-fluid">

<div class="row">
  <nav class="col-lg-2">
    <%= render partial: "layouts/navigation" %>
  </nav>

  <main class="col-lg-10">
    <header>
      <h1>Travels & Tribulations</h1>
    </header>
    <%= yield %>
  </main>
</div>


</body>
</html>
